blis==0.7.4
cachetools==3.1.1
catalogue==2.0.6
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
cymem==2.0.5
DAWG-Python==0.7.2
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
google-api-core==2.0.1
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.53.0
httplib2==0.13.1
idna==3.2
intervaltree==3.1.0
ipymarkup==0.9.0
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
murmurhash==1.0.5
natasha==1.4.0
navec==0.10.0
nltk==3.6.3
numpy==1.21.2
oauth2client==4.1.3
oauthlib==3.1.1
packaging==21.0
pandas==1.3.3
pathy==0.6.0
preshed==3.0.5
protobuf==3.18.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pydantic==1.8.2
pyenchant==3.2.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
razdel==0.5.0
regex==2021.8.28
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.24.2
scipy==1.7.1
six==1.12.0
sklearn==0.0
slovnet==0.5.0
smart-open==5.2.1
sortedcontainers==2.4.0
spacy==3.1.3
spacy-legacy==3.0.8
srsly==2.4.1
stop-words==2018.7.23
thinc==8.0.10
threadpoolctl==2.2.0
tqdm==4.62.3
typer==0.4.0
typing-extensions==3.10.0.2
uritemplate==3.0.0
urllib3==1.26.6
wasabi==0.8.2
yargy==0.15.0
